{% extends 'control_panel/base.html' %}
{% load static %}

{% block content %}
<div class="main-content animsition">
    <div class="section__content section__content--p30">
        <div class="au-card">
            <div class="au-card-title">
                <h3 class="title-1" style="color: #222;">
                    Customers
                </h3>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>date</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th class="text-right">Phone</th>
                                    <th class="text-right">Total Orders</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr onclick="window.location='{% url 'customer' customer.id %}';">
                                    <td>{{ customer.date_created | date:"d/m/Y" }}</td>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td class="text-right">{{ customer.phone }}</td>
                                    <td class="text-right">{{ customer.order_set.count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}