{% extends 'control_panel/base.html' %}
{% load static %}

{% block content %}
<style>
    input, textarea{
        display: inline-block;
        border-radius: 4px;
        background-color: #f0f0f0;
        padding: 10px 8px;
        margin-bottom: 16px;
        transition-duration: 0.5s;
    }
    select{
        display: inline-block;
        border-radius: 4px;
        background-color: #f1f1f1;
        {#width: 100%;#}
        padding: 10px 8px;
        margin-bottom: 16px;
    }
    input:focus, textarea:focus{
        background-color: #f8f8f8;
    }
    .errorlist{
        color: #c82f2f;
        list-style: none;
        font-weight: 500;
    }
    label[for='id_category']{
        padding-right: 12px;
    }
    label[for='id_search_name']{
        display: block;
    }
    label[for='id_start_price']{
        display: block;
    }
    #id_search_name{
        width: 100%;
    }
    .au-btn--submit{
        width: 15%;
        color: white;
        display: inline-block;
        float: right;
        height: 46px;
    }
    #id_category{
        width: 405px;
    }
</style>
<div class="main-content animsition">
    <div class="section__content section__content--p30 row">
        <div class="col-md-12 au-card au-card--no-shadow m-b-40">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-15">Transactions:</h2>
{#                        <div class="table-data__tool">#}
{#                            <form method="get" style="width: 100%">#}
{#                                <div class="row">#}
{#                                    <div class="col-md-12">#}
{#                                        {{ filter.form }}#}
{#                                        <button class="au-btn--submit" type="submit">#}
{#                                            Apply Filter#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>date</th>
                                    <th>Payment Method</th>
                                    <th>Phone Number</th>
                                    <th class="text-right">Coming From</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                <tr onclick="window.location='{% url 'product' transaction.id %}';">
                                    <td>{{ transaction.date_created }}</td>
                                    <td>{{ transaction.credentials.method }}</td>
                                    <td>{{ transaction.credentials.phone_number }}</td>
                                    <td class="text-right">{{ transaction.credentials.from_destination }}</td>
                                    <td class="text-right">{{ transaction.credentials.amount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    label_price = document.querySelector("label[for='id_start_price']").innerHTML = 'Price Between:';
    label_price = document.querySelector("label[for='id_end_price']").innerHTML = '&nbsp;&nbsp; and &nbsp;&nbsp;';
    label_price = document.querySelector("label[for='id_search_name']").innerHTML = 'Search by name:';
</script>
{% endblock %}